extends layout

block content
  button(class = 'login-google') Google
  form
    input(id = 'email', class = 'email', name = 'email', placeholder = 'Ingrese email')
    input(id = 'pass', class = 'pass', name = 'pass', placeholder = 'Ingrese contraseña')
    button(class = 'login-auth') Ingresar
